@model Web.Models.Guide

@{
    ViewBag.Title = "description";
}

@section head
{
    <link type="text/css" rel="stylesheet" href="~/Content/GuideDescription.css" />
}

<div class="guide-header row">
    <div class="span6">
        <h2>BEST DAY DETAIL</h2>
    </div>
    <div class="span6">
        <span class="">Find out all the gritty details about the Best Day you selected.
            
        </span>
    </div>

</div>
<div class="guide-details row">
    <div class="span5">
        <h3>@Model.Title</h3>
        <p>
            @Model.Summary
        </p>
        <ul class="social-list">
            <li>Views: @Model.Views</li>
            <li>Likes: @Model.Likes</li>
            <li>Follows: @Model.Follow</li>
        </ul>
    </div>
    <div class="span7 timeline-wrapper">
        <div class="timeline-items">
            @foreach (Web.Models.Activity activity in @Model.Activities)
            {
                if (activity.StartTime.HasValue)
                {
                    <div style="top:@Html.Raw(activity.StartTime.Value.Hour * 20)px">
                        <h3>@activity.Title</h3>
                        @Html.Raw(activity.StartTime.Value.Hour)
                    </div>
                }                        
            }
        </div>
        <ul class="timeline">
            @for (int i = 0; i < 5; ++i)
            {
                <li class="timeline">
                    @Html.Raw(i + 7)am
                </li>
            }
            <li>12pm</li>
            @for (int i = 0; i < 7; ++i)
            {
                <li class="timeline">
                    @Html.Raw(i + 1)pm
                </li>
            }
        </ul>

    </div>
</div>
