@model Web.Models.Guide

@{
    ViewBag.Title = Model.Title;
}

@section head
{
    <link type="text/css" rel="stylesheet" href="~/Content/GuideDescription.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand">
}

<div class="guide-header row">
    <div class="span6">
        <h2>@Model.Title</h2>
    </div>
    <div class="span6">
        <span class="page-description">
            @Model.Summary
        </span>
    </div>

</div>
<div class="border-row row">
    <div class="span12">
    </div>
</div>
<div class="guide-details row">
    <div class="span5">
        <div class="guide-thumbnail">
            @{ var count = 0; }
            @foreach (Web.Models.Item item in Model.ActivityItems)
            {
                <img src="@item.ImageUrl" />
                if (count++ > 5)
                {
                    continue;
                }
            }
        </div>
        <ul class="social-list">
            <li>Views: @Model.Views</li>
            <li>Likes: @Model.Likes</li>
            <li>Follows: @Model.Follow</li>
        </ul>
    </div>
    <div class="span7 timeline-wrapper">
        <div class="timeline-items">
            @foreach (Web.Models.Activity activity in @Model.Activities)
            {
                if (activity.StartTime.HasValue)
                {
                <div style="top:@Html.Raw(activity.Hour * 40 + 2)px; height:@Html.Raw(activity.Height)px">
                    <h3>@activity.Title</h3>
                    <div class="timeline-item-details" style="top:@Html.Raw(activity.Height)px">
                        <table>
                            <tbody class="timeline-item-values">
                                <tr>
                                    <td>Location:</td>
                                    <td><a href="">@activity.PlaceName</a></td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td>@activity.City, @activity.State</td>
                                </tr>
                                @if (activity.Cost.HasValue)
                                {
                                    // Do Nothing
                                }
                                else if (activity.Cost.Value == 0)
                                {
                                    <tr>
                                        <td>Cost:</td>
                                        <td>@Html.Raw("Free")</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>Cost:</td>
                                        <td>$@activity.Cost.Value</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (activity.Items.Count > 0)
                        {
                            <div class="slider">
                                @foreach (Web.Models.Item item in activity.Items)
                                {
                                    <div class="slider-item">
                                        <a href="@item.WebUrl">
                                            <img src="@item.ImageUrl" alt="@activity.Title" />
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                }
            }
        </div>
        <ul class="timeline">
            @for (int i = 0; i < 5; ++i)
            {
                <li class="timeline">
                    @Html.Raw(i + 7)am
                </li>
            }
            <li>12pm</li>
            @for (int i = 0; i < 7; ++i)
            {
                <li class="timeline">
                    @Html.Raw(i + 1)pm
                </li>
            }
        </ul>

    </div>
</div>
