@model Web.Models.Guide

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Guide</legend>

    <div class="display-label">Activities</div>
    <div class="display-field">@(Model.Activities == null ? "None" : Model.Activities.Count.ToString())</div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Summary</div>
    <div class="display-field">@Model.Summary</div>

    <div class="display-label">Author</div>
    <div class="display-field">@Model.Author</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GuideId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


