@model Web.Models.Guide

@{
    ViewBag.Title = "GuideThumbnailDetails";    
}

<div id="Details">
    <div>
        <h4 class="text-left"> @Model.Title</h4> <div >@Model.Author.Name</div>
        <p style="">@Model.Summary</p>
    </div>
   <p class="text-left"> Views: @Model.Views.ToString() </p>
       <p  class="text-left">Likes: @Model.Likes.ToString()</p>
     @* <p  class="text-left"> Follows:@if (Model.Follow.HasValue) { Model.Follow.Value.ToString(); }</p> *@
 </div>
    