@model Web.Models.Guide

@{
    ViewBag.Title = "GuideThumbnailDetails";    
}

<div id="Details">
    <div>
        <h4 class="text-left"> @Model.Title</h4> <a href='[]' class="text-right">@Model.Author.Name</a>
        <p>@Model.Summary.Substring(0, Model.Summary.Length > 120 ? 120 : Model.Summary.Length-1)</p>
    </div>
   <p class="text-left"> Views: @Model.Views.ToString() </p>
       <p  class="text-left">Likes: @Model.Likes.ToString()</p>
      <p  class="text-left"> Follows:@if (Model.Follow.HasValue) { Model.Follow.Value.ToString(); }</p> 
 </div>
    