@model Web.Models.Guide

@{
    ViewBag.Title = "GuideThumbnailDetails";    
}

<div id="Details">
    <div id="guideTitle" class="viewsTitle">
        @Model.Title
    </div>
    <div class="viewsAuthor">
        @Model.Author.Name
    </div>
    <div class="viewsSummary">
        <p>@Model.Summary.Substring(0, Model.Summary.Length > 120 ? 120 : Model.Summary.Length-1)</p>
    </div>
    <div class="viewsThumbnail">
        Views: @Model.Views.ToString() 
    </div>
    <div class="viewsThumbnail">
        Likes: @Model.Likes.ToString()
    </div>
    <div class="viewsThumbnail">
        Follows:@if (Model.Follow.HasValue) { Model.Follow.Value.ToString(); }
    </div>
 </div>
    