@using System.Web.Optimization
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @Styles.Render("~/Content/bootstrap")
  @RenderSection("head", required: false)
  @* favicons and touch icons go here *@
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/" title="Scout About">Scout About</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            @Html.Navigation()
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero-unit">
    </div>
    @Html.Partial("_alerts")
    @Html.Partial("_validationSummary")
    @RenderBody()
    <hr style="padding-left:20px;padding-right:20px">
    <footer>
      <p>&copy; North Technologies, LLC @System.DateTime.Now.ToString("yyyy")</p>
    </footer>
  </div>
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("Scripts", required: false)
</body>
</html>

