@using System.Web.Optimization
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand">
  @Styles.Render("~/Content/bootstrap")
  @Styles.Render("~/Content/scoutabout")
  @RenderSection("head", required: false)
  @* favicons and touch icons go here *@
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
          <div class="brand common-font">
        <a style="text-decoration:none;" href="/" title="Scout About"><div style="font-size:25px"><span style="color:#ff7321">scout</span><span style="color:#9f9f9f">ab</span><span style="color:#ff7321">o</span><span><span style="color:#9f9f9f">ut</span></span></div></a>
          </div>
        <div class="nav-collapse collapse">
          <ul class="nav">
            @Html.Navigation()
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div style="width:80%;margin:auto;background-color:#9f9f9f"  >
         <div  class="container">
    @Html.Partial("_alerts")
    @Html.Partial("_validationSummary")

    @RenderBody()
    <hr style="padding-left:20px;padding-right:20px">
    <footer>
        <center>
      <p class="textLabel">&copy; North Technologies, LLC @System.DateTime.Now.ToString("yyyy")</p></center>
    </footer>
  </div>
    </div>
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("Scripts", required: false)
</body>
</html>

